services:
  users-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: users-service
    ports:
      - "${PORT:-8081}:${PORT:-8081}"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped
    networks:
      - portability_net
networks:
  portability_net:
    external: true
    name: portability_prod
